/* DEBUG */
body[class*="col-"] {
  height: 300px;
  background-color: pink;
  border: 1px solid black;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
}

.container:after{
  content:"";
  display: table;
  clear: both;
}

[class*="col-"]{
  float: left;
}

.col-1{
  width:calc((100%/12)*1)
}
